{
    email rotaruoana50@yahoo.it
}

literature-explorer.xyz, www.literature-explorer.xyz {
    # Serve Frontend
    root * /srv
    encode gzip
    file_server

    # Reverse Proxy API
    handle /api/* {
        reverse_proxy backend:8000
    }

    # Handle React Router
    try_files {path} {path}/ /index.html
}
